{% extends 'blog/base.html' %}
{% load static %}
{% block meta %}
    {% with description="Ashutosh Singh is the developer and writer with posts" title="Rider Wolf" keywords="ashutosh singh, blog, travel, tech, developer" %}
        {{ block.super }}
    {% endwith %}
{% endblock meta %}
{% block content %}
    <div class="content container">
        <div class="col-md-12 m-4 d-none d-md-block"></div>

        {% for author in authors %}
            <div class="row">
                <div class="col-md-4 align-items-center">
                    <img class="circular-dp rounded-circle my-2" src={{ author.get_thumbnail_url }} />
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 about_title my-2">{{ author }}</div>
                        <div class="col-md-12 m-4 d-none d-md-block"></div>
                        <div class="col-md-12 about_description my-2">
                            <p>
                                {{ author.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 m-4 d-none d-md-block"></div>
            <hr>
        {% endfor %}

        <div class="row">
        </div>
    </div>
{% endblock %}