{% extends 'blog/base.html' %}
{% load static %}
{% block meta %}
    {% with description=author.get_title title=author.get_title keywords="author, risingofminds, blog, travel, tech, developer" %}
        {{ block.super }}
    {% endwith %}
{% endblock meta %}
{% block content %}
    <div class="content container">
        <div class="col-md-12 m-4 d-none d-md-block"></div>
            <div class="row d-flex justify-content-start align-items-center">
                <div class="col-md-4 align-items-center">
                    <img class="circular-dp rounded-circle my-2" src={{ author.get_thumbnail_url }} />
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 about_title my-2">{{ author }}</div>
                        <div class="col-md-12 about_description my-2">
                            <p>
                                {{ author.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
            <div class="col-12 mb-4 mx-1">
                <h5>More by {{ author.first_name }}</h5>
                <hr>
                </div>
                    {% for blog in blogs %}
                        <div class="col-md-4 mb-5">
                            <div class="popular_posts">
                                <a class="popular_posts_image"
                                   style="text-decoration: none; background-image: url({{ blog.get_thumbnail_url }})"
                                   href={% url 'blog_detail' cat_slug=blog.category.slug slug=blog.slug pk=blog.pk %}>
                                </a>
                            </div>
                            <div>
                                <a style="text-decoration: none;"
                                   href={% url 'blog_detail' cat_slug=blog.category.slug slug=blog.slug pk=blog.pk %}>
                                    <div class="popular_posts_title text-dark font-bold mb-1">{{ blog.title }}</div>
                                    <div class="popular_posts_description text-muted font-thin">{{ blog.description }}</div>
                                </a>
                            </div>
                            <div class="mt-2">
                                {% if blog.posted_on %}
                                    <div class="date text-muted">
                                        {{ blog.posted_on }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

        <div class="row">
        </div>
    </div>
{% endblock %}