{% block content %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="mt-2"><a
                            class="font-thin text-light" href="/about-us">Authors</a></div>
                    <div class="mt-2"><a
                            class="font-thin text-light" href="/contact-us">Contact Us</a></div>
                </div>
                <div class="col-6 mx-auto text-center">
                    <p class="col-md-12">Follow</p>
                    <p class="col-md-12"><a
                            onclick="popupwindow('https://www.facebook.com/sharer/sharer.php?u=https://risingofminds.com', '_blank', window);"
                            class="fa fa-facebook"></a>
                    </p>
                    <p class="col-md-12"><a
                            onclick="popupwindow('https://twitter.com/intent/tweet?url=https://risingofminds.com&text=Rising of Minds Blogs&hashtags=risingofminds,rom', '_blank', window);"
                            class="fa fa-twitter"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}